/* 进度条 */
.section4 {
    height: 50px;
    margin: 30px;
    margin-bottom: 10px;
}
#process .node {
    width: 13px;
}

#process .node ul {
    margin-left: -152px;
    width: 318px;
    z-index: 1;
}
ol, ul {
    list-style: none outside none;
}
#process ul {
    margin-top: -38px;
    position: absolute;
    text-align: center;
}
#process .tx1 {
    height: 36px;
    margin-bottom: 16px;
}
#process .proce {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 0 5px;
    width: 150px;
}
#process .node, #process .proce {
    background-image: url("../images/bg_state.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 13px;
    position: relative;
}
.node.ready {
    background-position: -150px 0;
}
.proce.forReady{
    background-position: 0 -20px;
}
.proce.wait {
    background-position: 0 -40px;
}
.node.wait {
    background-position: -150px -40px;
}
/* --- end */